{% extends 'base.html.twig' %}

{% block title 'Page des todos' %}

{% block body %}

{% if app.session.flashBag.get('success') is defined %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if app.session.flashBag.get('errors') is defined %}
    {% for message in app.session.flashBag.get('errors') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endif %}

    <ol class="list-group">
        {% for name, content in app.session.get('todos') %}
            <li class="list-group-item">
                {{ name }} : {{ content }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}